@font-face {
	font-family: 'Galada', cursive;
	font-weight: 400;
	font-style: normal;
	src:local('Galada-Regular'),
	url('../fonts/Galada-Regular.woff2') format('woff2'),
	url('../fonts/Galada-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	src:local('Roboto-Regular'),
	url('../fonts/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/Roboto-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
	src:local('Roboto-Bold'),
	url('../fonts/Roboto-Bold.woff2') format('woff2'),
	url('../fonts/Roboto-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue', cursive;
	font-weight: 700;
	font-style: normal;
	src:local('BebasNeueBold'),
	url('../fonts/BebasNeueBold.woff2') format('woff2'),
	url('../fonts/BebasNeueBold.woff') format('woff');
	font-display: swap;
}
