@media(max-width: 1680px) {
	.container {
		max-width: 114rem;
	}

	.proposition {
		&-title {
			margin-bottom: 3.6rem;

			& > * {
				font-size: 4.2rem;
			}
		}

		&-btn {
			padding: 1.9rem 6.7rem 1.6rem;
		}

		&-card {
			max-width: 28rem;
		}
	}

	.offer{
		&-card{
			margin-right: 9.2rem;
			&__wrap-items{
				max-height: 32.5rem;
				max-width: 32.5rem;
				left: -17.5rem;
			}
		}
		&-text {
			&__top {
				margin-bottom: 2.6rem;
				&-title{
					font-size: 4rem;
					line-height: 4rem;
				}
			}
			&__description{
				& > p {
					font-size: 1.5rem;
				}
			}
			&__bottom{
				&-btn{
					max-width: 26.9rem;
					padding: 1.9rem 5.2rem 1.6rem;
				}
			}
		}
	}
}

@media(max-width: 1440px) {
	.container {
		max-width: 110rem;
	}
	.proposition {
		&-title {
			margin-bottom: 3.6rem;

			& > * {
				font-size: 4rem;
			}
		}
		&-inner {
			margin-bottom: 3.5rem;
		}
		&-btn {
			padding: 1.7rem 6.5rem 1.5rem;

			& > * {
				font-size: 2.5rem;
			}
		}
		&-card {
			max-width: 28rem;
			&__wrap {
				margin-bottom: 3.7rem;
			}
		}
	}

	.offer{
		&-card{
			margin-right: 8.8rem;
			&__wrap-items{
				display: none;
			}
			&__img{
				&-left{
					& > picture{
						& > img{

						}
					}
				}
				&-right{
					& > picture{
						& > img{

						}
					}
				}
			}
		}
		&-text{
			&__bottom{
				width: 16rem;
				right: -6.4rem;
				&-btn{
					padding: 1.9rem 1.9rem 1.6rem 2.7rem;
					& > a{
						font-size:1.8rem;
					}
				}
				&-img{
					width: 14rem;
				}
			}
			&__description > p{
				font-size: 1.4rem;
			}
		}
	}
}

@media(max-width: 1366px) {
	.container {
		max-width: 105rem;
	}

	.proposition {
		&-title {
			margin-bottom: 2.7rem;
			& > * {
				font-size: 4rem;
			}
		}
		&-card {
			max-width: 26rem;
		}
		&-btn {
			padding: 1.4rem 4.9rem;

			& > span {
				font-size: 2.3rem;
			}
		}
	}
}

@media(max-width: 1280px) {

	.container {
		max-width: 100rem;
	}

	.proposition {
		&-title {
			margin-bottom: 1.6rem;

			& > * {
				font-size: 3.4rem;
			}
		}
		&-card {
			max-width: 24rem;
			&__title {
				margin-bottom: 1.6rem;

				& > span {
					font-size: 2.2rem;
				}
			}
		}

	}

}

@media(max-width: 1024px) {
	.container {
		max-width: 90rem;
	}

	.proposition {
		&-title {
			margin-bottom: 1.2rem;

			& > h2 {
				font-size: 3.2rem;
			}
		}
		&-inner {
			margin-bottom: 2.8rem;
		}
		&-btn {
			padding: 1.2rem 4rem;
			& > span {
				font-size: 2rem;
			}
		}
		&-card {
			max-width: 19rem;
			&__wrap {
				margin-bottom: 2.2rem;
				&-left{
					& > *{
						display: block;
						width: 100%;
						right: 0;
						object-fit: cover;
						& > source{
							width: 23rem;
						}
					}
				}
				&-right > * {
					left: 0;
				}
			}
			&__title {
				margin-bottom: 1.4rem;
				& > span {
					font-size: 2rem;
				}
			}
			&__text{
				height: 10.7rem;
				& > p {
					font-size: 1.5rem;
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.container {
		max-width: 71rem;
	}

	.proposition {
		&-card{
			max-width: 17rem;
		}
	}
}

@media(max-width: 666px) {
	.container {
		max-width: 57.6rem;
	}

	.proposition {
		&-inner{
			flex-direction: column;
		}
		&-line__wrap{
			display: block;
		}
		&-title{
			margin-bottom: .6em;
		}
		&-card {
			//max-width: 28.2rem;
			display: flex;
			flex-direction: column;
			&__wrap {
				margin-bottom: .6rem;
				& > .proposition-card__wrap-inner {
					height: 17rem;
					& > img {
						height: 17rem;
					}
				}
			}
		}
	}
}
