$green-600  : #01A3A4;
$gray 		:  #696969;
$black 		:  #212121;
$green-100  : #F0F8F6;
$white 		: #fff;


%bebasneue-700{
	font-family: 'Bebas Neue', cursive;
	font-weight: 700;
}

%roboto-400{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
%roboto-700{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

%galada-400{
	font-family: 'Galada', sans-serif;
	font-weight: 400;
}
