$green : #01A3A4;
$gray  :  #696969;
$black : #000;
$white : #fff;
$white : #fff;

%bebasneue-700{
	font-family: 'Bebas Neue', cursive;
	font-weight: 700;
}

%roboto-400{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

%galada-400{
	font-family: 'Galada', sans-serif;
	font-weight: 400;
}
