@font-face {
	font-family: 'Galada', cursive;
	font-weight: 400;
	font-style: normal;
	src: local('Galada-Regular'),
	url('develop/header/fonts/Galada-Regular.woff2') format('woff2'),
	url('develop/header/fonts/Galada-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	src: local('Roboto-Regular'),
	url('develop/header/fonts/Roboto-Regular.woff2') format('woff2'),
	url('develop/header/fonts/Roboto-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
	src: local('Roboto-Bold'),
	url('develop/header/fonts/Roboto-Bold.woff2') format('woff2'),
	url('develop/header/fonts/Roboto-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue', cursive;
	font-weight: 700;
	font-style: normal;
	src: local('BebasNeueBold'),
	url('develop/header/fonts/BebasNeueBold.woff2') format('woff2'),
	url('develop/header/fonts/BebasNeueBold.woff') format('woff');
	font-display: swap;
}

$green-600: #01A3A4;
$gray: #696969;
$gray-100: #E5E5E5;
$black: #212121;
$green-100: #F0F8F6;
$white: #fff;

%bebasneue-700 {
	font-family: 'Bebas Neue', cursive;
	font-weight: 700;
}

%roboto-400 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

%roboto-700 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

%galada-400 {
	font-family: 'Galada', sans-serif;
	font-weight: 400;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	outline: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

html, body {
	color: $black;
	background-color: $white;
	font-size: 10px;
	line-height: 150%;
	@extend %bebasneue-700;
}

.container {
	max-width: 120rem;
	padding: 0 1rem;
	margin: 0 auto;

	&--small {
		max-width: 81.5rem;
		padding: 0;
	}
}

.logo {
	&-wrap {
		height: 10rem;
		width: 19.1rem;
	}

	&-link {
		margin-right: 10rem;
	}
}

.hover-btn {
	transition: all .3s linear .50ms;

	&:hover {
		background-color: rgba(1, 163, 164, 0.79);
	}
}

.green-line {
	width: 4.8rem;
	height: .5rem;

	&__lg {
		width: 6rem;
		height: .5rem;
	}
}

.swiper-pagination {
	display: flex;
	justify-content: center;
}

.swiper-pagination-bullet {
	display: block;
	width: 6.6rem;
	height: .2rem;
	background-color: $green-100;
	border-radius: 10px;

	&:not(:last-child) {
		margin-right: .8rem;
	}

	&.swiper-pagination-bullet-active {
		background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
	}
}

.container--left {
	margin: 0 0 0 auto;
	padding-right: 0;
}

.stars {
	width: 1.6rem;
	height: 1.6rem;
}

.verticalScroll {
	overflow-y: scroll;
	max-height: 28.1rem;
}

.verticalScroll::-webkit-scrollbar {
	width: .5em;
}

.verticalScroll::-webkit-scrollbar-track {
	background: #74E6CF;
	border: .2rem solid transparent;
	background-clip:content-box;
}

.verticalScroll::-webkit-scrollbar-thumb {
	padding-left: .2rem;
	background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
	border-radius: 50px;
}

//.reviews-slider__btn{
//	position: relative;
//	z-index: 14;
//	display: block;
//	border-radius: 50%;
//	background-color: #01A3A4;
//	width: 3rem;
//	height: 3rem;
//}

//.reviews-slider__btn .swiper-button-prev{
//	margin-right: 1rem;
//}

