@media(max-width: 1680px) {
	.container {
		max-width: 114rem;
	}

	.proposition {
		&-title {
			margin-bottom: 3.6rem;

			& > * {
				font-size: 4.2rem;
			}
		}

		&-btn {
			padding: 1.9rem 6.7rem 1.6rem;
		}

		&-card {
			max-width: 28rem;
		}
	}

	.offer {
		&-card {
			margin-right: 9.2rem;

			&__wrap-items {
				max-height: 32.5rem;
				max-width: 32.5rem;
				left: -17.5rem;
			}

			&__img {
				&-left {
					max-height: 48.2rem;

					& > picture > img {
						height: 49rem
					}
				}

				&-right {
					max-height: 48.2rem;
					padding-top: 2.4rem;

					& > picture > img {
						height: 49rem
					}
				}
			}
		}

		&-text {
			&__top {
				margin-bottom: 2.6rem;

				&-title {
					& > span {
						font-size: 4rem;
						line-height: 4rem;
					}
				}
			}

			&__description {
				& > p {
					font-size: 1.5rem;
				}
			}

			&__bottom {
				&-btn {
					max-width: 26.9rem;
					padding: 1.9rem 5.2rem 1.6rem;
				}
			}
		}
	}

	.posts {
		&-top {
			&__text {
				margin-bottom: 4.8rem;

				&-title {
					& > h3 {
						font-size: 4rem;
						line-height: 4.2rem;
					}
				}
			}
		}
		&-inner {
			grid-template-columns: repeat(2, minmax(19rem, 1fr)) minmax(37.5rem, 38.5rem) minmax(19rem, 1fr);
			grid-template-rows: repeat(2, minmax(19rem, 1fr));
		}

		&-block {
			&__large {
				& > img {
					max-width: 38.5rem;
					height: 49rem;
				}
			}
		}
	}

	.blog{
		&-title{
			margin-bottom: 4.6rem;
			& > h5 {
				font-size: 4rem;
			}
		}
		&-card{
			max-width: 35.5rem;
			height: 51.1rem;
			&__wrap{
				padding: 4rem 3.8rem 3.3rem 3.8rem;
			}
			&__title{
				margin-bottom: 4rem;
				& > *{
					font-size: 2.2rem;
					line-height: 2.2rem;
				}
				&--mb{
					margin-bottom: 2.3rem;
				}
			}
			&__text {
				margin-bottom: 3.4rem;
			}
			&__link{
				padding: .6rem 1.9rem;
			}
		}
	}
}


@media(max-width: 1440px) {
	.container {
		max-width: 110rem;
	}
	.proposition {
		&-title {
			margin-bottom: 3.6rem;

			& > * {
				font-size: 4rem;
			}
		}

		&-inner {
			margin-bottom: 3.5rem;
		}

		&-btn {
			padding: 1.7rem 6.5rem 1.5rem;

			& > * {
				font-size: 2.5rem;
			}
		}

		&-card {
			max-width: 28rem;

			&__wrap {
				margin-bottom: 3.7rem;
			}
		}
	}

	.offer {
		&-card {
			margin-right: 8.8rem;

			&__wrap-items {
				display: none;
			}

			&__img {
				&-left {
					max-height: 45.2rem;

					& > picture > img {
						height: 45rem
					}
				}

				&-right {
					max-height: 45.2rem;
					padding-top: 2.4rem;

					& > picture > img {
						height: 45rem
					}
				}
			}
		}

		&-text {
			&__top {
				&-title {
					& > span {
						font-size: 3.2rem;
						line-height: 3.2rem;
					}
				}
			}

			&__bottom {
				width: 16rem;
				right: -6.4rem;

				&-btn {
					padding: 1.9rem 1.9rem 1.6rem 2.7rem;

					& > a > span {
						font-size: 1.8rem;
					}
				}

				&-img {
					width: 14rem;
				}
			}

			&__description > p {
				font-size: 1.4rem;
			}
		}
	}

	.posts {
		&-top {
			&__text {
				margin-bottom: 4.5rem;

				&-title {
					& > h3 {
						font-size: 3.6rem;
						line-height: 3.8rem;
					}
				}
			}
		}
		&-inner {
			grid-template-columns: repeat(2, 22rem) 38.5rem 22rem;
			grid-template-rows: repeat(2, 22rem);
		}

		&-block {
			max-width: 22rem;
			height: 22rem;

			& > img {
				max-width: 22rem;
				height: 22rem;
			}
			&__circle {
				&-left {
					&::before {
						font-size: 11rem;
						line-height: 11rem;
						right: -12.8rem;
						bottom:-27.5rem;
					}
				}
			}
			&__img {
				&-left {
					& > img {
						max-width: 22rem;
					}
				}

				&-right {
					& > img {
						max-width: 22rem;
					}
				}
			}

			&-eight,
			&__four,
			&__three,
			&__two {
				& > img {
					max-width: 22rem;
					height: 22rem;
				}
			}

			&__large > img {
				height: 45rem;
			}
		}
	}

	.blog {
		&-title {
			margin-bottom: 4.2rem;
			& > h5 {
				font-size: 4rem;
			}
		}

		&-card {
			max-width: 33.5rem;
			&__wrap{
			padding: 3.8rem 3.8rem 3.1rem 3.5rem;
			}
			&__title{
				margin-bottom: 3.8rem;
				&--mb{
					margin-bottom: 2rem;
				}
			}

		}
	}
}

@media(max-width: 1366px) {
	.container {
		max-width: 105rem;
	}

	.proposition {
		&-title {
			margin-bottom: 2.7rem;

			& > * {
				font-size: 4rem;
			}
		}

		&-card {
			max-width: 26rem;
		}

		&-btn {
			padding: 1.4rem 4.9rem;

			& > span {
				font-size: 2.3rem;
			}
		}
	}

	.posts {
		&-top {
			&__text {
				margin-bottom: 4rem;

				&-title {
					& > h3 {
						font-size: 3.6rem;
						line-height: 3.8rem;
					}
				}
			}
		}
		&-inner {
			grid-template-columns: repeat(2, 19rem) 38rem 19rem;
			grid-template-rows: repeat(2, 19rem);
		}

		&-block {
			max-width: 19rem;
			height: 19rem;

			& > img {
				max-width: 19rem;
				height: 19rem;
			}
			&__circle {
				&-left {
					&::before {
						font-size: 10rem;
						line-height: 10rem;
						right: -14.8rem;
						bottom: -25.7rem;
					}
				}
			}
			&__img {
				&-left {
					& > img {
						max-width: 19rem;
					}
				}

				&-right {
					& > img {
						max-width: 19rem;
					}
				}
			}

			&-eight,
			&__four,
			&__three,
			&__two {
				& > img {
					max-width: 19rem;
					height: 19rem;
				}
			}

			&__large > img {
				height: 39rem;
			}
			&__circle{
				&-left{
					width: 4.6rem;
					height: 4.6rem;
					top: -3.3rem;
					left: -2.7rem;
				}
				&-right{
					right: -1rem;
					width: 3.6rem;
					height: 3.6rem;
				}
			}
		}
	}

	.blog{
		&-title {
			margin-bottom: 4rem;
			& > h5 {
				font-size: 3.8rem;
			}
		}

		&-card{
			height: 51.1rem;
			max-width: 32.5rem;
			&__wrap{
				padding: 3.4rem 3.1rem 2.8rem 3.3rem;
			}
		}
	}
}

@media(max-width: 1280px) {

	.container {
		max-width: 100rem;
	}

	.proposition {
		&-title {
			margin-bottom: 1.6rem;

			& > * {
				font-size: 3.4rem;
			}
		}

		&-card {
			max-width: 24rem;

			&__title {
				margin-bottom: 1.6rem;

				& > span {
					font-size: 2.2rem;
				}
			}
		}

	}

	.offer {
		&-card {
			margin-right: 4.7rem;

			&__img {
				&-left {
					max-height: 48.2rem;
					max-width: 25.3rem;

					& > picture {
						& > img {
							height: 100%;
						}
					}
				}

				&-right {
					max-height: 50.2rem;
					min-height: 48.2rem;
					max-width: 25.3rem;
					padding-top: 2.5rem;

					& > picture {
						& > img {
							height: 100%;
						}
					}
				}
			}
		}
	}


	.posts {
		&-top {
			&__text {
				margin-bottom: 3rem;

				&-title {
					& > h3 {
						font-size: 3.2rem;
						line-height: 3.4rem;
					}
				}
			}
		}
		&-inner {
			grid-template-areas:
			"post-block-1 post-block-2 post-block-lg post-block-7"
			"post-block-3 post-block-4 post-block-lg post-block-8";
			grid-template-columns: repeat(2, 17.5rem) 33.5rem 17.5rem;
			grid-template-rows: repeat(2, 17.5rem);
		}

		&-block {
			height: 17.5rem;
			max-width: 17.5rem;

			& > img {
				max-width: 17.5rem;
				height: 17.5rem;
			}

			&__circle {
				&-left {
					&::before {
						font-size: 8.5rem;
						line-height: 8.5rem;
						right: -13.8rem;
						bottom: -24.5rem;
					}
				}
			}

			&-eight,
			&__four,
			&__three,
			&__two {
				& > img {
					max-width: 17.5rem;
					height: 17.5rem;
				}
			}

			&__large {
				& > img {
					max-width: 33.5rem;
					height: 36rem;
				}
			}

			&__img {
				&-left {
					& > img {
						max-width: 17.5rem;
						height: 17.5rem;
					}
				}
				&-right {
					& > img {
						max-width: 17.5rem;
						height: 17.5rem;
					}
				}
			}
			&__circle{
				&-left{
					width: 4.6rem;
					height: 4.6rem;
					top: -3.3rem;
					left: -2.7rem;
				}
				&-right{
					right: -1rem;
					width: 3.6rem;
					height: 3.6rem;
				}
			}
		}
	}
	.blog{
		&-title {
			& > h5 {
				font-size: 3.6rem;
			}
		}
		&-card{
			height: 50.1rem;
			max-width: 30.5rem;
			&__wrap{
				padding: 3.4rem 3.1rem 2.8rem 3.3rem;
			}
			&__title{
				& > * {
					font-size: 1.8rem;
					line-height: 1.8rem;
				}
			}
			&__img{
				height:19.7rem;
			}
		}
	}
}


@media(max-width: 1024px) {
	.container {
		max-width: 90rem;
	}

	.proposition {
		&-title {
			margin-bottom: 1.2rem;

			& > h2 {
				font-size: 3.2rem;
			}
		}

		&-inner {
			margin-bottom: 2.8rem;
		}

		&-btn {
			padding: 1.2rem 4rem;

			& > span {
				font-size: 2rem;
			}
		}

		&-card {
			max-width: 19rem;

			&__wrap {
				margin-bottom: 2.2rem;

				&-left {
					& > * {
						display: block;
						width: 100%;
						right: 0;
						object-fit: cover;

						& > source {
							//width: 23rem;
						}
					}
				}
			}

			&__title {
				margin-bottom: 1.4rem;

				& > span {
					font-size: 2rem;
				}
			}

			&__text {
				height: 10.7rem;

				& > p {
					font-size: 1.5rem;
				}
			}
		}
	}

	.offer {
		&-card {
			max-width: 44rem;

			&__img {
				&-left {
					max-height: 44.2rem;
					min-width: 18.3rem;
				}

				&-right {
					padding-top: 2.3rem;
					max-height: 44.2rem;
					min-height: 44.2rem;
					min-width: 18.3rem;
				}
			}
		}

		&-text {
			&__top {
				margin-bottom: 1.6rem;

				&-title {
					& > span {
						font-size: 2.6rem;
						line-height: 2.6rem;
					}
				}

				&-img {
					margin-right: 1.4rem;
				}
			}
		}
	}

	.posts-block__eight,
	.posts-block__right,
	.posts-block__circle-left{
		display: none;
	}

	.posts{
		&-top {
			&__text {
				margin-bottom: 2.6rem;

				&-title {
					& > h3 {
						font-size: 2.8rem;
						line-height: 3rem;
					}
				}
				&-subtitle{
					font-size: 1.3rem;
					max-width: 30rem;
					text-align: center;
				}
			}
		}
		&-inner {
			grid-template-areas:
			"post-block-1 post-block-2 post-block-lg"
			"post-block-3 post-block-4 post-block-lg";
			grid-template-columns: repeat(2, 17.5rem) 33.5rem;
			grid-template-rows: repeat(2, 17.5rem);
		}

		&-block {
			height: 17.5rem;
			max-width: 17.5rem;

			& > img {
				max-width: 17.5rem;
				height: 17.5rem;
			}

			&-eight,
			&__four,
			&__three,
			&__two {
				& > img {
					max-width: 17.5rem;
					height: 17.5rem;
				}
			}

			&__img {
				&-left {
					& > img {
						max-width: 17.5rem;
						height: 17.5rem;
					}
				}
				&-right {
					& > img {
						max-width: 17.5rem;
						height: 17.5rem;
					}
				}
			}
		}
	}

	.blog{
		&-title{
			margin-bottom: 3.2rem;
		}
		&-inner{
			flex-direction: column;
		}
		&-card{
			max-width: 50%;
			&:not(:last-child){
				margin-bottom: 2.3rem;
			}
			&__img{
				height: 22.8rem;
			}
			&__title {
				margin-bottom: 3rem;
				&> * {
					font-size: 2.2rem;
					line-height: 2.2rem;
				}
				&--mb{
					margin-bottom: 1.3rem;
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.container {
		max-width: 71rem;
	}

	.proposition {
		&-card {
			max-width: 17rem;
		}
	}

	.offer {
		&-inner {
			flex-direction: column-reverse;
			align-items: center;
		}

		&-card {
			margin-right: 0;
			margin-bottom: 2.7rem;

			&__btn {
				display: flex;
				order: -1;
				//display: none;
			}

			&__img {
				&-left {
					max-height: 47.2rem;
					min-height: 29.3rem;
					max-width: 25.3rem;
				}

				&-right {
					padding: 0;
					max-height: 49.2rem;
					min-height: 29.3rem;
					max-width: 25.3rem;
				}
			}
		}

		&-text {
			&__top {
				display: flex;
				flex-direction: column;
				justify-content: center;

				&-img {
					margin-bottom: 2.7rem;
					margin-right: 0;
				}
			}

			&__description {
				text-align: center;
				font-size: 1.4rem;
			}

			&__bottom {
				display: none;
			}
		}
	}

	.posts {
		&-top {
			&__text {
				margin-bottom: 2.4rem;

				&-title {
					& > h3 {
						font-size: 2.6rem;
						line-height: 2.8rem;
					}
				}
				&-subtitle{
					max-width: 30rem;
					text-align: center;
				}
			}
		}
		&-inner {
			grid-template-columns: repeat(2, 14rem) 28.5rem;
			grid-template-rows: repeat(2, 14rem);
		}

		&-block {
			height: 14rem;
			max-width: 14rem;
			&__large{
				& > img{
					max-width: 28.5rem;
					height: 29rem;
				}
			}
			&__img-left{
				& > img{
					height: 14rem;
					max-width: 14rem;
				}
			}
			&__four,
			&__three,
			&__two {
				& > img{
					height: 14rem;
					max-width: 14rem;
				}
			}
		}
	}

	.blog{
		&-inner{
			flex-direction: column;
			margin-bottom: 3rem;
		}
		&-card{
			max-width: 33rem;
			&:not(:last-child){
				margin-bottom: 2.3rem;
			}
		}
	}
}


@media(max-width: 666px) {
	.container {
		max-width: 57.6rem;
	}

	.proposition {
		&-inner {
			flex-direction: column;
		}

		&-line__wrap {
			display: block;
		}

		&-title {
			margin-bottom: .6em;
		}

		&-card {
			//max-width: 28.2rem;
			display: flex;
			flex-direction: column;

			&__wrap {
				margin-bottom: .6rem;

				& > .proposition-card__wrap-inner {
					height: 17rem;

					& > img {
						height: 17rem;
					}
				}
			}
		}
	}


	.offer {
		&-card {
			&__img {
				&-left {
					min-height: 26.3rem;
					max-width: 28rem;
					min-width: 14rem;
				}

				&-right {
					min-height: 28.3rem;
					max-width: 28rem;
					min-width: 14rem;

					& > picture {
						height: 104%;
					}
				}
			}
		}
	}

	.posts {
		&-top {
			&__text {
				margin-bottom: 2.4rem;

				&-title {
					& > h3 {
						font-size: 2rem;
						line-height: 2.2rem;
					}
				}
				&-subtitle{
					font-size: 1.2rem;
					max-width: 30rem;
					text-align: center;
				}
			}
		}
		&-inner {
			grid-template-areas:
			"post-block-1 post-block-2"
			"post-block-3 post-block-4";
			grid-gap: .6rem;
			grid-template-columns: repeat(2, 14rem);
			grid-template-rows: repeat(2, 14rem);
		}

		&-block {
			&__large {
				display: none;
			}

			&__img-left,
			&__four,
			&__three,
			&__two {
				height: 100%;
				width: 15rem;

				& > img {
					height: 14rem;
					max-height: 100%;
					/*max-width: 100%;*/
					width: 100%;
				}
			}
		}
	}

	.blog{
		&-inner{
			flex-direction: row;
			padding-right: 1rem;
		}
		&-card{
			max-width: 95%;
			height: 51rem;
			&:not(:last-child){
				margin-bottom: 0;
			}
		}
	}

}

